<ion-view view-title="{{ 'NEW_MESSAGE.TITLE' | translate }}" ng-controller="NewMessageCtrl as NewMessageCtrl">
    <ion-content>
        <div class="list card">
            <div class="item item-input">
                <input placeholder="{{ 'NEW_MESSAGE.TO_PLACEHOLDER' | translate }}" type="text" ng-model="NewMessageCtrl.message.to">
            </div>
            <div class="item item-input">
                <textarea placeholder="{{ 'NEW_MESSAGE.BODY_PLACEHOLDER' | translate }}" rows="5" ng-model="NewMessageCtrl.message.body"></textarea>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-calm" ng-click="NewMessageCtrl.send()">{{ 'NEW_MESSAGE.BUTTON' | translate }}</button>
        </div>
    </ion-content>
</ion-view>