<ion-view view-title="Sig in" ng-controller="SiginCtrl as SiginCtrl">
	<ion-content>
	{{SiginCtrl.someProp}}
		<div class="list card">
			<div class="item item-input">
				<input placeholder="Login" type="text" ng-model="SiginCtrl.userdata.login"></input>
			</div>
			<div class="item item-input">
				<input placeholder="Password" type="password" ng-model="SiginCtrl.userdata.password"></textarea>
			</div>
		</div>
		<div class="padding">
			<button class="button button-block button-calm" ng-click="SiginCtrl.sigIn()">Sig In</button>
		</div>
	</ion-content>
</ion-view>