<ion-view view-title="{{ 'SIGN_IN.TITLE' | translate }}" ng-controller="SignInCtrl as SignInCtrl">
    <ion-content>
        <div class="list card">
            <div class="item item-input">
                <input placeholder="{{ 'SIGN_IN.LOGIN_PLACEHOLDER' | translate }}" type="text" ng-model="SignInCtrl.userdata.login">
            </div>
            <div class="item item-input">
                <input placeholder="{{ 'SIGN_IN.PASSWORD_PLACEHOLDER' | translate }}" type="password" ng-model="SignInCtrl.userdata.password">
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-calm" ng-click="SignInCtrl.signIn()">{{ 'SIGN_IN.BUTTON' | translate }}</button>
        </div>
    </ion-content>
</ion-view>