<ion-view view-title="{{ 'SIGN_UP.TITLE' | translate }}" ng-controller="SignUpCtrl as SignUpCtrl">
	<ion-content>
		<div class="list card">
			<div class="item item-input">
				<input placeholder="{{ 'SIGN_UP.LOGIN_PLACEHOLDER' | translate }}" type="text" ng-model="SignUpCtrl.userdata.login">
			</div>
			<div class="item item-input">
				<input placeholder="{{ 'SIGN_UP.PASSWORD_PLACEHOLDER' | translate }}" type="password" ng-model="SignUpCtrl.userdata.password"></textarea>
			</div>
		</div>
		<div class="padding">
			<button class="button button-block button-balanced" ng-click="SignUpCtrl.signUp()">{{ 'SIGN_UP.BUTTON' | translate }}</button>
		</div>
	</ion-content>
</ion-view>